<div>
	<h2>Welcome to the Gourmet of Codelion!</h2>
	<p>Let us know gourmets you guys know</p>
</div>

<hr>

<% @posts.reverse.each do |post| %>
<div style="border: 1px solid #ffffff">
	<h4><%= post.title %></h4>
	<p style="color:#ff0000"><%= post.category %></p>
	<p>Writer's ID</p>
	<p><%= post.content %></p>
</div>
<% end %>
