<div>
	<h2><%= @category %> lists.</h2>
</div>

<hr>

<% @posts.reverse.each do |post| %>
	<div style="border:1px solid #fff">
		<h4><%= post.title %></h4>
		<p style="color:#ff0000"><%= post.category %></p>
		<p>Writer's ID</p>
		<p><%= post.content %></p>
	</div>
<% end %>
