<div class="container"> 
	<% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>

	<div class="well text-center">
		<h3>Welcome to the Codelion Gourmet!</h3>
		<p>Let us know the best gourmet you know!</p>
	</div>

	<%= render partial:"foods/posts" %>
</div>
