<p><%= flash[:alert] %></p>
<h2>Add a gourmet</h2>

<form action="/foods/write_complete" method="post">
	<p style="color:#ff0000">Category:
	<select name="post_category">
		<option value="Korean">Korean</option>
		<option value="Japanese">Japanese</option>
		<option value="Chinese">Chinese</option>
		<option value="Western">Western</option>
	</select></p>
	<p>Title : <input type="text" name="post_title" placeholder="Type a title"></p>
	<p>Content : <textarea name="post_content" placeholder="Type a content"></textarea>
	<input type="submit" value="Add">
</form>
