<div class="container">
	<h1 class="gourmet-title"><a class="gourmet-title-link" href="/">Codelion Gourmet</a></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav navber-left">
			<li><a href="/korean">Korean</a></li>
			<li><a href="/japanese">Japanese</a></li>
			<li><a href="/chinese">Chinese</a></li>
			<li><a href="/western">western</a></li>
			<li><a href="/foods/write">Write</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if session[:user_id].nil? %>
			<li><a href="/users/signup">Sign Up</a></li>
			<li><a href="/users/login">Log In</a></li>
			<% else %>
			<li><a href="/users/logout_complete">Log Out</a></li>
			<% end %>
		</ul>
	</div>
</nav>
